:root {
    
}

.subnav-hero-section {
    text-align: center;
    background: #1779ba;
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 200px;
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 0.75rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }

  .subnav-hero-subnav li a:hover {
    background-color: aquamarine;
  }
 

  * {
    /*box-sizing: border-box; */
  }
  
  input[type=text],
  select,
  textarea,
  input[type=email],
  input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    width: 30%;
  }