:root {
  --aquamarine: #86e7b8;
  --mintgreen: #93ff96;
  --lightgreen: #b2ffa8;
  --teagreen: #d0ffb7;
  --beige: #f2f5de;
}

body {
  background-color: var(--beige);
}

.subnav-hero-section {
    text-align: center;
    background: linear-gradient(to right, var(--aquamarine), var(--lightgreen));
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 200px;
    
  }
  
  .subnav-hero-section .subnav-hero-headline {
    color: #fefefe;
  }
  
  .subnav-hero-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
  }
  
  .subnav-hero-subnav li {
    float: none;
    display: inline-block;
  }
  
  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem;
    font-size: 1rem;
    color: #fefefe;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.35s ease-in-out;
  }

  .subnav-hero-subnav li a:hover {
    background-color: aquamarine;
  }

 .food-image img {
   display: flex;
   height: 100px;
   padding-left:50px;
 }
 
 .exercise-image img {
   display: flex;
   float: left;
   height: 100px;
   padding-right: 50px;
  
 }

  * {
    box-sizing: border-box; 
    
  }
  
  input[type=text],
  select,
  textarea,
  input[type=email],
  input[type=number] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    width: 30%;
  }

  /* Login HTML */

  .login {
    display: flex;
    flex-direction: column;
    width: 100%;
    
     
  }

  .login form {
    width: 20%;
    align-items: center;
    margin-left: 40%;
    margin-top: 2%;
  }
 

   .perks {
     display: flex;
     flex-direction: column;
     margin-top: 2%;
     margin-left: 30%;

   }

 